<ion-header>
</ion-header>
<ion-content>
    <h1>スポット検索</h1>
<!--   <input type="button" id="ajax" value="更新" onclick="load();" /> -->
    <form name="myform" class="search_container">
        <input id="search-word" name="mytext" type="text" />
        <button id="search" class="btn-square" onclick="searchPlace();">検索</button>
      </form>
      <h3>スポットリスト</h3>
    <ion-list id="spot-list">
        <ion-list-header>
          <!--<ion-label>近くのスポット</ion-label>-->
        </ion-list-header>
      </ion-list>
</ion-content>